<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body
    class="bg-light d-flex align-items-center justify-content-center vh-100"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
          <div class="card shadow">
            <div class="card-header bg-primary text-white">
              <h4 class="card-title mb-0">Change Password</h4>
            </div>
            <div class="card-body p-4">
              

              <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="new-password" class="form-label"
                    >New Password</label
                  >
                  <input
                    type="password"
                    class="form-control {% if errors.new_password %}is-invalid{% endif %}"
                    id="new-password"
                    name="new_password"
                    required
                  />
                  {% if errors.new_password %}
            <div class="text-danger mt-1">{{ errors.new_password }}</div>
            {% endif %}

                </div>
                <div class="mb-3">
                  <label for="confirm-password" class="form-label"
                    >Confirm New Password</label
                  >
                  <input
                    type="password"
                    class="form-control {% if errors.confirm_password %}is-invalid{% endif %}"
                    id="confirm-password"
                    name="confirm_password"
                    required
                  />
                  {% if errors.confirm_password %}
            <div class="text-danger mt-1">{{ errors.confirm_password }}</div>
            {% endif %}
                </div>
                <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-primary">
                    Change Password
                  </button>
                </div>
                {% if redirect_to_login %}
              <script>
                console.log("Redirect script loaded...");
                setTimeout(function () {
                  window.location.href = "{{ redirect_url }}";
                }, 2000);
              </script>
              {% endif %}
              </form>

              
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
