{% extends "admin/admin_base.html" %} {% block heading %}
<h2>{{ heading.name }}</h2>
{% endblock heading %} {% block content %}
<div class="container mt-4">

  <!-- Form for Adding New Genre -->
  <div class="card mt-4">
    <div class="card-header bg-primary text-white">
      <h5 class="mb-0">Add New Genre</h5>
    </div>
    <div class="card-body">
      <form method="POST" action="{% url 'genre_edit_post' %}">
        {% csrf_token %}
        <div class="mb-3">
          <input type="hidden" name="genre_id" value="{{ genres.id }}">
          <label for="genreName" class="form-label">Genre Name</label>
          <input type="text" name="genre" value="{{ genres.genre_name }}" id="genreName" class="form-control"
            required />
        </div>

        <button type="submit" class="btn btn-success">Update Genre</button>
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %} {% endif %}
      </form>
    </div>
  </div>



</div>
{% endblock %}