{% load static %} {% include 'includes/header.html' %}

<div class="container-fluid">
  <div class="row">
    <!-- Include sidebar -->
    <div class="col-lg-2">{% include 'user/UserProfile/sidebar.html' %}</div>

    <!-- Main Content Column -->
    <div class="col-lg-10 py-5">
      

        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="form_type" value="password_change" />
          
          <h4 class="mb-4">Change Password</h4>
          <div class="mb-3">
            <label for="currentPassword" class="form-label"
              >Current Password</label
            >
            <input
              type="password"
              class="form-control {% if errors.current_password %}is-invalid{% endif %}"
              id="currentPassword"
              name="current_password"
            />
            {% if errors.current_password %}
            <div class="text-danger mt-1">{{ errors.current_password }}</div>
            {% endif %}
          </div>

          <div class="row mb-3">
            <div class="col-md-6 mb-3 mb-md-0">
              <label for="newPassword" class="form-label">New Password</label>
              <input
                type="password"
                class="form-control {% if errors.new_password %}is-invalid{% endif %}"
                id="newPassword"
                name="new_password"
              />
              {% if errors.new_password %}
            <div class="text-danger mt-1">{{ errors.new_password }}</div>
            {% endif %}
            </div>
            <div class="col-md-6">
              <label for="confirmPassword" class="form-label"
                >Confirm New Password</label
              >
              <input
                type="password"
                class="form-control {% if errors.confirm_password %}is-invalid{% endif %}"
                id="confirmPassword"
                name="confirm_password"
              />
              {% if errors.confirm_password %}
            <div class="text-danger mt-1">{{ errors.confirm_password }}</div>
            {% endif %}
            </div>
          </div>
          
          <div class="mt-4">
            <button type="submit" class="btn btn-primary">
              Change Password
            </button>
          </div>
        </form>
    </div>
  </div>
</div>

{% include 'includes/footer.html' %}
