{% load static %} {% include 'includes/header.html' %}

<div class="container-fluid">
  <div class="row">
    <!-- Include sidebar -->
    <div class="col-lg-3">{% include 'user/UserProfile/sidebar.html' %}</div>

    <!-- Main Content Column -->
    <div class="col-lg-9 py-5">
      <div class="tab-pane fade show active" id="wallet">
        <h4 class="mb-4">My Wallet</h4>

        <div class="card mb-4">
          <div class="card-body shadow-lg">
            <div class="row align-items-center">
              <div class="col-md-6">
                <h5 class="card-title">Wallet Balance</h5>
                <h2 class="text-primary mb-0">₹ {{wallet_amount}}</h2>
              </div>
              <!-- <div class="col-md-6 text-md-end mt-3 mt-md-0">
                <button class="btn btn-primary">Add Money</button>
              </div> -->
            </div>
          </div>
        </div>

        {% comment %} <h5 class="mb-3">Transaction History</h5> {% endcomment %}
        {% comment %} <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% if user_wallet %}
              <tr>
                <td>{{ wallet.created_at|date:"M d, Y" }}</td>
                <td>Added to Wallet</td>
                <td>
                  <span class="badge bg-success">Credit</span>
                  {% comment %} {% if tx.is_credit %}
                  <span class="badge bg-success">Credit</span>
                  {% else %}
                  <span class="badge bg-danger">Debit</span>
                  {% endif %} {% endcomment %}
                {% comment %} </td>
                <td>₹{{ wallet.amount }}</td>
                <td>
                  <span class="text-success">Completed</span>
                </td>
              </tr>
              {% endif %} {% empty %}
              <tr>
                <td colspan="5" class="text-center text-muted">
                  No transactions yet.
                </td>
              </tr>
            </tbody>
          </table>
        </div> {% endcomment %}
      </div> 
    </div>
  </div>
</div>
{% include 'includes/footer.html' %}
