{% load static %} {% include 'includes/header.html' %}

<div class="container-fluid">
  <div class="row">
    <!-- Include sidebar -->
    <div class="col-lg-3">{% include 'user/UserProfile/sidebar.html' %}</div>

    <!-- Main Content Column -->
      <div class="col-lg-9 py-5">
    {% for item in wishlist_items %}
  <div class="card">
    <div class="col-md-2">
          <img
            src="{{ item.variant.product.image.url }}"
            alt="Book Cover"
            class="img-fluid"
          />
    <div class="card-body">
      <h5>{{ item.variant.product.book_title }}</h5>
      <p>Variant: {{ item.variant.language   }} | ₹{{ item.variant.price }}</p>
      <a href="{% url 'product_details' item.variant.product.id %}" class="btn btn-sm btn-primary">View Product</a>
    </div>
  </div>
  {% empty %}
          <div>
            <p>No Wishlist found.</p>
          </div>
{% endfor %}


  </div>
  </div>
</div>
{% include 'includes/footer.html' %}